<main class="user__wrapper" data-controller="review">

  <div class="user">
    <%= render "shared/user_description" %>
    <%= render "shared/follows" %>
    <%= render "shared/bio" %>

    <nav class="user__products-tab" >
      <%= link_to followers_user_path(@user) do %>
        <span class="user__product-tab"><strong>Followers</strong></span>
      <% end %>
      <%= link_to following_user_path(@user) do %>
        <span class="product-divison-tab">Following</span>
      <% end %>
    </nav>

    <div class="user__followers">
      <% @user.followers.each do |follower| %>
        <div class="user__follower">
          <div class="user__follower-card">
            <div class="user__follower-card-info">
              <div class="user__follower-img">
                <%= link_to user_path(follower) do %>
                  <% if follower.photo.attached? %>
                    <%= cl_image_tag follower.photo.key.to_s, :transformation=>[{:gravity=>"face", :height=>65, :width=>65},
                        {:radius=>"max"},{:width=>65, :crop=>"scale"},{:fetch_format=>:auto}] %>
                  <% else %>
                    <%= image_tag("avatar_image.png", :height=>65, :width=>65, class: "radius") %>
                  <% end %>
                <% end %>
              </div>
              <div class="user__follower-details">
                <span class="user__follower-name"><%= "#{follower.first_name} #{follower.last_name}" %></span>
                <span class="user__follower-username"><%= "@#{follower.username}" %></span>
              </div>
            </div>

              <div class="user__follow__stats">
                <% if Follow.where(follower_id: current_user.id, following_id: follower.id).exists? %>
                <% @follow = Follow.find_by(follower_id: current_user.id, following_id: follower.id) %>
                  <%= link_to follow_path(@follow), data: {turbo_method: :delete} do %>
                    <button class="btn btn--following">Following</button>
                  <% end %>
                <% else %>
                  <%= simple_form_for @follow do |f| %>
                  <%= f.input :following_id, :as => :hidden, :input_html => { :value => follower.id } %>
                  <%= f.submit "Follow", {class:"btn btn--follow"} %>
                  <% end %>
                <% end %>
              </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>

  <%= render "shared/feedbacks" %>
</main>
