
<aside class="follow hidden">
  <div class="follow__headline">
    <span class="follower__username"><%= @user.username %></span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon icon-x">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>

  <div class="follow__tabs">
    <span class="followers__tab">Followers</span>
    <span class="following__tab">Following</span>
  </div>

  <div class="followers">
    <% @followers.each do |follower| %>
      <figure class="follower-card">
        <%= link_to user_path(follower) do %>
          <%= cl_image_tag follower.photo.key.to_s, :transformation=>[{:gravity=>"face", :height=>50, :width=>50},
            {:radius=>"max"},{:width=>50, :crop=>"scale"},{:fetch_format=>:auto}] %>
        <% end %>
      </figure>
      <div class="follower__details">
        <span class="follower__name"><%= @user.first_name %> <%= @user.last_name%></span>
        <span class="follower__username">@<%= follower.username %></span>
      </div>
    <% end %>
  </div>


</aside>
