

<main class="pay__container">
  <% if @order.nil? %>
    <p>Sorry, but we couldn't find your order</p>
  <% else %>
  <div class="pay__actions">
    <div class="pay__shipping-address">
      <label for="Adress">Shipping Adress</label>
      <input type="text" id="cvv" name="adress" placeholder="Hummingbird Street 51">
    </div>
    <div class="pay__payment-type">
    <%= render "shared/pay_icons" %>
      <div class="card-number">
        <label for="card">Card number:</label>
        <input type="text" id="card" name="card" placeholder="0000 0000 0000 0000">
      </div>
      <div class="card-name">
        <label for="name">Name on card:</label>
        <input type="text" id="name" name="name" placeholder="John Doe">
      </div>
      <div class="card-expiry">
        <label for="expiry">Expiry date:</label>
        <input type="text" id="expiry" name="expiry" placeholder="MM/YY">
      </div>
      <div class="card-cvv">
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" placeholder="123">
      </div>
    </div>
    <div class="pay__payment-checkout">
      <%= simple_form_for @order do |f| %>
      <%= f.input :paid, :as => :hidden, :input_html => { :value => true} %>
      <%= f.submit "Checkout", {class: "btn btn--product btn--checkout"} %>
      <% end %>
    </div>
  </div>
  <div class="pay__order-details">
    <div class="pay__seller-details">
      <div class="pay__seller-img">
        <% if @order.product.user.photo.attached? %>
           <%= cl_image_tag @order.product.user.photo.key.to_s, :transformation=>[{:gravity=>"face", :height=>50, :width=>50},
            {:radius=>"max"},{:width=>50, :crop=>"scale"},{:fetch_format=>:auto}] %>
        <% else %>
          <%= image_tag("avatar_image.png", :height=>50, :width=>50, class: "radius") %>
        <% end %>
      </div>
      <div class="pay__seller-name">
        <span><%= "#{@order.product.user.first_name} #{@order.product.user.last_name}"%></span>
        <span><%="@#{@order.product.user.username}"%></span>
      </div>
    </div>
    <div class="pay__product-img">
      <%= link_to product_path(@order.product) do %>
        <%= cl_image_tag @order.product.photo.key, height: 300 , width: 300, :radius=>7, crop: :fill%>
      <% end %>
    </div>
    <div class="pay__order-summary">
      <table class="pay__order-prices">
        <tr>
          <th>Item</th>
          <th><%= "£#{@order.product.price}"%></th>
        </tr>
        <tr>
          <th>Shipping</th>
          <th><%= "£#{@order.product.shipping}" %></th>
        </tr>
        <tr>
          <th>Total</th>
          <th><%= "£#{@order.product.price + @order.product.shipping}" %></th>
        </tr>
      </table>
    </div>
  </div>
  <% end %>

</main>
